@font-face {
	font-family: 'HP';
	src: url('./HPSimplifiedW01-Regular.eot?#iefix') format('embedded-opentype'),
	     url('./HPSimplifiedW01-Regular.woff') format('woff'),
	     url('./HPSimplifiedW01-Regular.ttf')  format('truetype'),
	     url('./HPSimplifiedW01-Regular.svg#svgFontName') format('svg');
}
