$indoloraColors: (
  'primary': #09837d,
  'secondary': #FFA17A,
  'secondaryStrong': #F98383,
  'light': #95B1AE,
  'blue': #5C75A9,
  'blueLight': #91A9E0
);
@function color($key: 'primary') {
  @return map-get($indoloraColors, $key);
};


$colorCita: #c564c2;

html, body, #root { min-height: 100vh }

body { background-color: rgba(color('primary'), .1) !important; }
.noscroll { overflow: hidden !important; }

input,
select {
	padding: 1em;
	width: 100%;
}


// Colores de eventos
.rbc-event.event {

  &-disponibilidad { background: color('light') }

  &-cita { background-color: color('secondary'); }
  &-cita.cita-admin-ok { background: color('secondaryStrong') }
}
.event-disponibilidad { background: rgba(color('light'), .25) }
.event-cita { background: rgba(color('secondary'), .25) }

[class*="Alert-success"] { background-color: color('primary') !important }
[class*="CardHeader"] [class*="CardText"],
.greenHeader { background: color('primary') !important; }
[class*="MuiBackdrop-root"] { background-color: rgba(darken(color('primary'), 20%), .5  ) !important; }

.rbc-event {
  background-color: color('light');
  & + & { z-index: 2; }
}
.rbc-calendar {
  &.calMulti {
    .rbc-event {
      &[class*="disponibilidad"] {
        left: 0 !important;
        right: auto !important;
        width: 95% !important;
        & ~ & { border-top: 1px solid; }
      }
    }
    .rbc-event + .rbc-event {
      border-top: 1px solid white;
      &[class*="disponibilidad"] { transform: translateX(15px) }
    }
  }
  &.clientes {
    .rbc-event { cursor: pointer !important; }
  }
}

.logo {
  margin-bottom: 1em;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 80px;
    padding: 1em;
    border-radius: 100%;
    background: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
}

section {
  padding: 2em;
}

.horizontal {
  > * + * { margin-left: .5em; }
  a + a:before { content: '|'; margin-right: .5em }
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > * + * { margin-top: 1em !important; }
  // This is great
}

.fullWidth {
  width: 100%;
}
.full {
  width: 100vw;
  height: 100vh;
}
.superCenter {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile { user-select: none; }
.profile:hover { font-weight: normal; }

a {
  color: inherit;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

[class*="MuiDialog"] { max-height: 9999px; }

[class*="MuiInputBase"],
[class*="MuiFormLabel"],
[class*="MuiButton"] { font-family: inherit !important; }

[class*="MuiFormLabel"] { font-weight: 200 !important; }
[class*="MuiFormControl"] { margin-bottom: 20px !important }
[class*="MuiFormControlLabel"] { margin: 0 !important; }

[class*="Wizard-footer"] { padding: 5px 15px !important; }
[data-swipeable="true"] { overflow-x: hidden !important; }

// Cal
.rbc-allday-cell { display: none; }
.rbc-time-content { border-top-width: 1px !important; }
.rbc-header { border: none !important;}
.rbc-addons-dnd-resize-ns-icon {
  padding: 5px 0;
  color: white;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor:first-child { top: 5px !important; }
.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor {
  z-index: 9;
  opacity: 1;
}
.rbc-toolbar-label { text-transform: capitalize; }

.rdt input.form-control {
  font-size: inherit !important;
  &::placeholder { color: #AAAAAA !important; }
  &[placeholder="Elige día y hora"] { color: #495057 !important }
}

.modalConDatepicker {
  > div:last-of-type > div {
    overflow: visible;
  }
  .rdt {
    flex: 1;
  }
  .rdt + .rdt { margin-left: 1em }
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconHeader {
  display: flex !important;
  align-items: center !important;
  svg { margin: 0 10px 0 0 !important; }
}


// Slider
.labelSlider {
  white-space: nowrap
}

.General {
  justify-content: center;
  align-items: center;
}

div > div > .Padre {
  overflow: hidden;
}


%reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  cursor: pointer;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.calToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calButton { @extend %reset-button; }

.buttonGroup {
  * + * { margin-left: .5em; }
}



$sidebarWidth: 20;
//#root { display: flex; flex-direction: column; }
.admin-sidebar {
  width: $sidebarWidth + 0%;
  & + main {
    max-width: (100 - $sidebarWidth) + 0%;
    float: right;
  }
}
